<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>ascender</key>
  <integer>734</integer>
  <key>capHeight</key>
  <integer>726</integer>
  <key>copyright</key>
  <string>Copyright (c) 2011, John Vargas Beltran (www.johnvargasbeltran.com|john.vargasbeltran@gmail.com), with Reserved Font Name &quot;Boogaloo&quot;.</string>
  <key>descender</key>
  <integer>-245</integer>
  <key>familyName</key>
  <string>Boogaloo</string>
  <key>italicAngle</key>
  <integer>0</integer>
  <key>openTypeHeadCreated</key>
  <string>2011/12/02 19:17:39</string>
  <key>openTypeHeadFlags</key>
  <array>
  </array>
  <key>openTypeHheaAscender</key>
  <integer>1931</integer>
  <key>openTypeHheaDescender</key>
  <integer>-504</integer>
  <key>openTypeHheaLineGap</key>
  <integer>0</integer>
  <key>openTypeNameDesigner</key>
  <string>John Vargas Beltran</string>
  <key>openTypeNameDesignerURL</key>
  <string>www.johnvargasbeltran.com</string>
  <key>openTypeNameLicense</key>
  <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: http://scripts.sil.org/OFL</string>
  <key>openTypeNameLicenseURL</key>
  <string>http://scripts.sil.org/OFL</string>
  <key>openTypeNameManufacturer</key>
  <string>John Vargas Beltran</string>
  <key>openTypeNameManufacturerURL</key>
  <string></string>
  <key>openTypeNameDescription</key>
  <string></string>
  <key>openTypeNameSampleText</key>
  <string></string>
  <key>openTypeNameUniqueID</key>
  <string>JohnVargasBeltran: Boogaloo: 2011</string>
  <key>openTypeNameVersion</key>
  <string>Version 1.001</string>
  <key>openTypeOS2CodePageRanges</key>
  <array>
    <integer>0</integer>
  </array>
  <key>openTypeOS2FamilyClass</key>
  <array>
    <integer>10</integer>
    <integer>6</integer>
  </array>
  <key>openTypeOS2Panose</key>
  <array>
    <integer>3</integer>
    <integer>6</integer>
    <integer>9</integer>
    <integer>2</integer>
    <integer>3</integer>
    <integer>2</integer>
    <integer>2</integer>
    <integer>2</integer>
    <integer>2</integer>
    <integer>3</integer>
  </array>
  <key>openTypeOS2Selection</key>
  <array>
  </array>
  <key>openTypeOS2StrikeoutPosition</key>
  <integer>512</integer>
  <key>openTypeOS2StrikeoutSize</key>
  <integer>102</integer>
  <key>openTypeOS2SubscriptXOffset</key>
  <integer>0</integer>
  <key>openTypeOS2SubscriptXSize</key>
  <integer>1352</integer>
  <key>openTypeOS2SubscriptYOffset</key>
  <integer>-385</integer>
  <key>openTypeOS2SubscriptYSize</key>
  <integer>1229</integer>
  <key>openTypeOS2SuperscriptXOffset</key>
  <integer>0</integer>
  <key>openTypeOS2SuperscriptXSize</key>
  <integer>1352</integer>
  <key>openTypeOS2SuperscriptYOffset</key>
  <integer>514</integer>
  <key>openTypeOS2SuperscriptYSize</key>
  <integer>1229</integer>
  <key>openTypeOS2Type</key>
  <array>
  </array>
  <key>openTypeOS2TypoAscender</key>
  <integer>734</integer>
  <key>openTypeOS2TypoDescender</key>
  <integer>-245</integer>
  <key>openTypeOS2TypoLineGap</key>
  <integer>0</integer>
  <key>openTypeOS2UnicodeRanges</key>
  <array>
    <integer>0</integer>
    <integer>1</integer>
    <integer>5</integer>
  </array>
  <key>openTypeOS2VendorID</key>
  <string>MYFO</string>
  <key>openTypeOS2WeightClass</key>
  <integer>400</integer>
  <key>openTypeOS2WidthClass</key>
  <integer>5</integer>
  <key>openTypeOS2WinAscent</key>
  <integer>1931</integer>
  <key>openTypeOS2WinDescent</key>
  <integer>504</integer>
  <key>postscriptBlueFuzz</key>
  <integer>1</integer>
  <key>postscriptBlueScale</key>
  <real>0.039625</real>
  <key>postscriptBlueShift</key>
  <integer>7</integer>
  <key>postscriptBlueValues</key>
  <array>
    <integer>-30</integer>
    <integer>0</integer>
    <integer>501</integer>
    <integer>501</integer>
    <integer>726</integer>
    <integer>726</integer>
  </array>
  <key>postscriptUniqueID</key>
  <integer>-1</integer>
  <key>postscriptFontName</key>
  <string>Boogaloo-Regular</string>
  <key>postscriptForceBold</key>
  <false/>
  <key>postscriptFullName</key>
  <string>Boogaloo</string>
  <key>postscriptIsFixedPitch</key>
  <false/>
  <key>postscriptOtherBlues</key>
  <array>
    <integer>-245</integer>
    <integer>-245</integer>
  </array>
  <key>postscriptStemSnapH</key>
  <array>
    <integer>110</integer>
    <integer>93</integer>
    <integer>118</integer>
  </array>
  <key>postscriptStemSnapV</key>
  <array>
    <integer>117</integer>
    <integer>133</integer>
  </array>
  <key>postscriptUnderlinePosition</key>
  <real>-160.5</real>
  <key>postscriptUnderlineThickness</key>
  <integer>79</integer>
  <key>postscriptWeightName</key>
  <string>Regular</string>
  <key>styleMapFamilyName</key>
  <string>Boogaloo</string>
  <key>styleMapStyleName</key>
  <string>regular</string>
  <key>styleName</key>
  <string>Regular</string>
  <key>trademark</key>
  <string>Boogaloo is a trademark of John Vargas Beltran.</string>
  <key>unitsPerEm</key>
  <integer>1000</integer>
  <key>versionMajor</key>
  <integer>1</integer>
  <key>versionMinor</key>
  <integer>1</integer>
  <key>year</key>
  <integer>2011</integer>
  <key>xHeight</key>
  <integer>501</integer>
  <key>macintoshFONDName</key>
  <string>Boogaloo</string>
  <key>macintoshFONDFamilyID</key>
  <integer>128</integer>
</dict>
</plist>
